.advantage{
    padding: 40px 0 80px;
    &__wrapper-welcome{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    &__title{
        margin-bottom:51px ;
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        gap: 32px;
        margin-bottom: 60px;
    }
    &__item{
        // border: 1px solid red;
      
    }
    &__wrapper-btn{
        display: flex;
        align-items: center;
    }
    &__wrapper-btn{
        display: flex;
        justify-content: center;
    }
    &__button{
        padding:16px 32px;
    }
}

.item-advantage{
    &__icon{
        width: 120px;
        height: 120px;
        margin: 0 auto 20px;
        // border: 1px solid;
        display: flex;
        justify-content: center;
        justify-content: center;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    &__body{
        max-width: 200px;
        margin:  0 auto;
        padding: 0 10px;
    }
    &__quantity{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #23283B;
        margin-bottom:12px;
    }

    &__text{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #23283B;
        
    }
}

@media screen and (min-width:1200px) {
    .advantage{
        padding: 80px 0px;
        &__title{
            margin-bottom:82px ;
        }
        &__grid{
            grid-template-columns: repeat(3,1fr);
            margin-bottom: 80px;
        }
    }
}