.footer{
    background: #3035C4;
    padding: 60px 0;
    &__top{
        display: flex;
        flex-direction: column;
        gap: 52px 0;
        justify-content: center;
        padding-bottom: 36px;
        border-bottom:1px solid rgba(#FFFFFF,.3);

    }
    &__content{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 36px 0;
    }
    &__left{
        &-list{
            li + li{
                margin-top: 30px;
                
            }
        }
        &-item{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
            
        }
    }
    &__center{
        &-row{
            display: flex;
            gap: 0 50px;
            justify-content: center;
        }
        &-link{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            
        }
        &-item +  &-item{
            margin-top: 24px;
        }
    }
    &__right{
        &-title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 12px;
            
        }
        &-content{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
            text-align: center;
            display: block;
        }
        li+li{
            margin-top: 24px;
        }
    }
    &__logo{
       
        display: block;
        width: 169px;
        margin: 0 auto 24px;
        svg{
            width: 100%;
            height: auto;
        }
    }
    .footer__social-media{
       
        justify-content: center;
        svg path{
            fill: white;
        }

        
    }
    .footer__phone-wrapper{
        // max-width: 155px;
        // margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        gap: 14px;
        .phone__text{
            // font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }
    }
    &__bottom{
        display: flex;
        flex-direction: column;
        gap:  40px;
      &-links{
        display: flex;
        flex-direction: column;
        gap:24px;
      }
      
        &-link{
            text-align: center;
            display: block;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}

@media screen and (min-width:1200px) {
    .footer{
        padding: 60px 40px ;
        &__content{
            align-items: unset;
            gap: 32px;
        }
        &__top{
            flex-direction: row;
            gap: 52px 0;
            justify-content: space-between;
            padding-bottom: 52px;
        }
        &__left{
            max-width:200px;
           
            &-list{
                li + li{
                    margin-top: 24px;
                }
            }
            &-item{
                text-align: unset;
            }
        }
        &__logo{
            margin: 0 0 24px;
        }

        &__center{
           
            &-row{
                gap: 0 60px;
                justify-content: center;
            }
        
        

        }
      
        &__right{
            max-width: 270px;
            &-title{
                text-align: unset;
            }
            &-content{
                text-align: unset;
            }
           
        }
        .footer__phone-wrapper{
            align-items: unset;
        }

        &__bottom{
            flex-direction: row-reverse;
            justify-content: space-between;
          &-links{
            flex-direction: row;
          }
          
        }
      
    }
} 