.intro{
    padding: 48px 0 0;
    &__row{
        display: flex;
        flex-direction: column;
        gap: 52px 0;
    }
  
    &__link{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%; 
        text-align: center;
        color: #3035C4;
        display: block;
        margin-bottom: 28px;
    }
    &__title{
        margin-bottom: 40px;
        text-align: center;
    }
    &__wrapper-btn{
        display: flex;
        justify-content: center;
    }
    &__button{
        padding:16px 32px ;
    }
    &__img{
        max-width: 327px;
        height: 276px;
        display: flex;
        align-items: center;
        // justify-content: center;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
        position: relative;
        margin: 0 auto;
        img{
            display: block;
            max-width: 100%;
            object-fit: cover;
            height: auto;
            // margin-left: -20px;
       
           
          
        }
    }
}

@media screen and (min-width:1200px) {
    .intro{
        padding: unset;
          position: relative;
        &__body{
            max-width: 570px;
            padding: 120px 0 143px;
            // border: 1px solid red;
        }
      
        &__img{
            width: 605px;
            max-width: unset;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            border-radius: unset;
            box-shadow: unset;
           

            img{
                height: 100%;
                width: 100%;
            }
        }

        &__link{
            text-align: left;
        }
        &__title{
            margin-bottom: 52px;
            text-align: unset;
        }
        &__wrapper-btn{
            justify-content: flex-start;
        }
    }
}