.wrapper{
    max-width: 100%;
    padding: 0 24px ;
}

.title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #23283B;
    
}

h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #23283B;
    span{
        color: #E6514A;
    }
}

.wrapper-page{
    overflow: hidden;
}

.body-off{
    position: fixed;
    inset: 0;
    width: 100%;
    &::after{
        content:'';
        display: block;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .5;
    }

}

.welcome{
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #23283B;
    padding-left: 52px;
    display: inline;
    position: relative;
  
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 1px;
        width: 40px;
        background: #E6514A;

    }
}

.list-checked li{
    position: relative;
    padding-left: 32px;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        background: url(../img/Check.svg) no-repeat;
        background-size: 16px 16px;
    }
}

.scroll{
    overflow: auto;
    position: relative;
    margin: 0 -24px;
    padding: 0 24px;
    &::-webkit-scrollbar{
        background: transparent;
    }
}

.main-content{
    padding-top: 138px;
}

@media screen and (min-width:1200px) {
    .main-content{
        padding-top: 130px;
    }
    .wrapper{
        max-width: 1199px;
        padding: 0 15px;
        margin: 0 auto;
        // border: 1px solid red;
    }

    h1{
        font-size: 56px;
        line-height: 130%;
        text-align: left;
    }
    .title{
        font-size: 48px;
        line-height: 130%;
    }
    .scroll{
        margin: 0;
        padding: 0;
        
    }
}

body,html{
    scroll-behavior: smooth;
}

